NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_GITHUB_REPO=https://github.com/Anand-0037/clawtipper

ACTIVITY_SOURCE_URL=

WDK_INDEXER_BASE_URL=https://wdk-api.tether.io
WDK_INDEXER_API_KEY=
AGENT_WALLET_ADDRESS=
